*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
}

p{
    text-align: center;
    margin: auto;
}

/* .div1{
    width: 150px;
    height: 150px;
    border: 10px none black;
    margin: 10px;
    position: relative;
    float: left;
}

.div2{
    width: 150px;
    height: 150px;
    border: 10px dotted black;
    margin-inline-start: auto;
}

.div3{
    width: 150px;
    height: 150px;
    border: 10px dashed black;
    margin-inline-start: auto;
}

.div4{
    width: 150px;
    height: 150px;
    border: 7px solid black;
    margin-left: 0 auto;
} */